@media(max-width: 1400px) {
    h1 {
        display: none;
    }

    canvas {
        width: 100vw;
        height: 100vh;
    }

    .start-screen {
        width: 100vw;
        height: 100vh;
    }

    .startscreen-img {
        width: 100vw;
        height: 100vh;
    }

    .icon-main-con {
        top: -448px;
    }

    .endscreen-bgr {
        height: 100vh;
        width: 100vw;
    }

    .wreath-img {
        height: 100vh;
        width: 100vw;
    }

    .restart-btn {
        top: 20px;
    }

    .back-to-start-btn {
        bottom: 117px;
    }

    .win-headline {
        display: flex;
        position: fixed;
        top: 200px;
        font-size: 164px;
    }

    .game-won-screen {
        width: 100vw;
        height: 100vh;
    }

    .game-over-screen {
        height: 100vh;
        width: 100vw;
    }

    .game-over-img {
        height: 100vh;
        width: 100vw;
    }

    .start-btn {
        position: fixed;
        top: 200px;
    }

    .info-btns {
        position: relative;
        top: 530px;
    }

    .info-screen {
        height: 100vh;
        width: 100vw;
    }

    .close-btn-con-main {
        top: -580px;
    }

    .close-btn-con-main-imprint {
        top: 130px;
    }

    .how-to-play-main-con {
        top: -650px;
        margin-left: 100px;
        font-size: 40px;
    }

    .imprint-bgr {
        height: 100vh;
        width: 100vw;
    }

    .legal-notice-main-con {
        height: 100vh;
        width: 100vw;
        max-height: 100vh;
        margin: 0;
    }

    .privacy-policy {
        padding: 20px;
        display: flex;
    }

    .how-to-play-bgr {
        height: 100vh;
        width: 100vw;
    }
}

@media(max-width: 1200px) {
    .info-btns {
        position: relative;
        top: 430px;
    }

    .how-to-play-main-con {
        font-size: 30px;
    }

    .how-to-play-img {
        top: -570px;
    }

    .close-btn-con-main {
        top: -500px;
    }

    .icon-main-con {
        top: -348px;
    }
}

@media(max-width: 1000px) {
    h1 {
        display: none;
    }

    canvas {
        width: 100vw;
        height: 100vh;
    }

    .info-btns {
        position: relative;
        top: 290px;
    }

    .start-btn {
        position: absolute;
        top: 180px;
    }

    .startscreen-btns {
        top: -130px;
        z-index: 1;
    }

    .volume-buttons-startscreen {
        bottom: 130px;
    }

    .volume-buttons-ingame {
        width: 32px;
        position: relative;
        bottom: 357px;
        right: 425px;
        cursor: pointer;
    }

    .restart-con {
        width: 100vw;
        height: 100vh;
    }

    .game-won-screen {
        width: 100vw;
        height: 100vh;
    }

    .game-over-screen {
        width: 100vw;
        height: 100vh;
    }

    .game-over-img {
        width: 100vw;
        height: 100vh;
    }

    .game-over-img-bgr {
        width: 100vw;
        height: 100vh;
    }

    .restart-img {
        top: -132px;
    }

    .win-headline {
        display: flex;
        position: fixed;
        top: 20px;
    }

    .wreath-img {
        height: 360px;
        width: 100%;
        position: fixed;
    }

    .how-to-play-main-con {
        display: flex;
        flex-direction: column;
        font-size: 22px;
        margin-top: 20px;
        margin-left: 32px;
        margin-right: 32px;
        position: relative;
        top: -515px;
    }

    .how-to-play-img {
        top: -620px;
    }

    .info-img {
        width: 50px;
        height: 50px;
        position: relative;
        top: -250px;
    }

    .start-screen {
        width: 100vw;
        height: 100vh;
    }

    .startscreen-img {
        width: 100vw;
        height: 100vh;
    }

    .fullscreen-btn {
        top: -152px;
    }

    .info-screen {
        width: 100vw;
        height: 100vh;
    }

    .close-btn-how-to-play {
        top: -200px;
    }

    .close-btn-con-main {
        top: -220px;
    }

    .close-btn-con-main-imprint {
        top: 150px;
    }

    .icon-main-con {
        display: flex;
        justify-content: center;
        top: -165px;
    }

    .endscreen-bgr {
        width: 100vw;
        height: 100vh;
    }

    .back-to-start-btn {
        bottom: 10px;
    }

    .restart-btn {
        top: 0;
    }
}

@media(max-width: 900px) {
    .info-btns {
        top: 280px;
    }

    .icon-main-con {
        top: -152px;
    }

    .restart-img {
        height: 70px;
        width: 70px;
    }

    .win-headline {
        position: fixed;
        top: 2px;
    }

    .close-btn-how-to-play {
        top: -185px;
    }
}

@media(max-width: 850px) {
    .info-btns {
        top: 270px;
    }

    .volume-buttons-startscreen {
        bottom: 130px;
    }

    .how-to-play-main-con {
        top: -480px;
    }

    .how-to-play-img {
        top: -650px;
    }

    .restart-img {
        height: 60px;
        width: 60px;
    }

    .close-btn-con-main {
        top: -180px;
    }

    .start-btn {
        top: 170px;
    }
}

@media(max-width: 670px) {
    .controls-headline {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .fullscreen-btn {
        top: -110px;
    }

    .volume-buttons-startscreen {
        bottom: 120px;
    }

    .startscreen-btns {
        top: -133px;
        z-index: 1;
    }

    .info-btns {
        position: relative;
        top: 245px;
    }

    .startscreen-img {
        width: 100vw;
        height: 100vh;
        object-fit: contain;
    }

    .close-btn-con-main {
        top: -230px;
    }

    .how-to-play-img {
        top: -580px;
    }

    .how-to-play-main-con {
        top: -456px;
    }

    .icon-main-con {
        top: -143px;
    }

    .restart-img {
        width: 50px;
        height: 50px;
    }

    .win-headline {
        font-size: 120px;
        top: 30px;
    }

    .start-btn {
        top: 185px;
    }
}